APP_NAME=ShopPro
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app.vercel.app

LOG_CHANNEL=errorlog
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_DATABASE=ecommerce
DB_USERNAME=2nm7aoqJDMvP7m2.root
DB_PASSWORD=replace-with-tidb-password
DB_SSLMODE=verify-ca
DB_SSL_CA_PATH=
DB_MYSQL_ATTR_SSL_VERIFY_SERVER_CERT=true

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=
JWT_TTL=60

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=replace-with-mailtrap-username
MAIL_PASSWORD=replace-with-mailtrap-password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@shoppro.com
MAIL_FROM_NAME="ShopPro"

MAISHAPAY_MERCHANT_ID=replace-with-merchant-id
MAISHAPAY_PUBLIC_KEY=replace-with-public-key
MAISHAPAY_SECRET_KEY=replace-with-secret-key
MAISHAPAY_API_URL=https://marchand.maishapay.online

FRONTEND_URL=https://your-frontend.vercel.app