APP_NAME=ShopPro
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app.onrender.com

LOG_CHANNEL=errorlog
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=mysql-204dde9f-projetecommerce.g.aivencloud.com
DB_PORT=17821
DB_DATABASE=defaultdb
DB_USERNAME=avnadmin
DB_PASSWORD=your_password_here
DB_MYSQL_ATTR_SSL_CA=cert/ca.pem

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=
JWT_TTL=60

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@shoppro.com
MAIL_FROM_NAME="ShopPro"

MAISHAPAY_MERCHANT_ID=your_merchant_id
MAISHAPAY_PUBLIC_KEY=your_public_key
MAISHAPAY_SECRET_KEY=your_secret_key
MAISHAPAY_API_URL=https://marchand.maishapay.online

FRONTEND_URL=https://your-frontend.vercel.app