# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*

# Bootstrap
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# IDE
/.idea
/.vscode
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Certificates
*.pem
*.key